// Styling for the portfolio section
#portfolio, #studentprojects, #personalprojects, #academicprojects {
  background-color: #121212;
  .portfolio-item {
    background-color: #121212;
    right: 0;
    .portfolio-link {
      position: relative;
      display: block;
      max-width: 700px;
      margin: 0 auto;
      cursor: pointer;
      img {
        width: 100%;
        height: 350px;
        object-fit:contain;
        background-color: black;
      }
      .portfolio-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: fade-out($primary, 0.1);
        &:hover {
          opacity: 1;
        }
        .portfolio-hover-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
    .portfolio-caption {
      background-color: #212529;
      max-width: 700px;
      margin: 0 auto;
      padding-bottom: 15px;
      text-align: center;
      h4 {
        margin-bottom: 10px;
        text-transform: none;
      }
      p {
        font-size: 15px;
        font-style: italic;
        margin-bottom: 10px;
        @include serif-font;
      }
      .additional-info {
        font-size: 20px;
        font-style: normal;
        color: #cccccc !important;
        margin: 0;
        @include serif-font;
      }
    }
  }
  * {
    z-index: 2;
  }
}

@media (max-width: 768px) {
  #portfolio, #studentprojects, #personalprojects, #academicprojects {
    .portfolio-item {
      margin-bottom: 20px;
      .portfolio-link {
        img {
          max-width: 100%;
          height: auto;
          max-height: 300px;
        }
      }

      .portfolio-caption {
        padding-bottom: 10px;
        
        h4 {
          font-size: 18px;
        }

        p {
          font-size: 12px;
        }

        .additional-info {
          font-size: 16px;
        }
      }
    }
  }
}

.portfolio-modal {
  color: white;
  .modal-dialog {
    background-color: #121212;
    margin: 0 auto;
    max-width:1400px;
  }
  .modal-content {
    background-color: #121212;
    padding: 100px 0;
    text-align: center;
    h2 {
      color: $primary;
      font-size: 60px;
      margin-bottom: 15px;
    }
    p {
      color: #cccccc !important;
      margin-bottom: 30px;
      font-size: 25px;
      @include body-font;
    }
    p.title {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 50px;
      text-align: center;
    }
    p.content {
      color: #cccccc !important;
      margin-bottom: 30px;
      font-size: 25px;
      @include body-font;
      text-align: left;
    }
    p.item-intro {
      font-size: 25px;
      margin: 20px 0 30px;
      @include serif-font;
    }
    ul.list-inline {
      color: gray;
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 18px;
      @include heading-font;
    }
    img {
      margin-bottom: 30px;
    }
    button {
      margin-top: 60px;
      font-size: 25px;
      padding: 20px 40px;
      cursor: pointer;
    }
  }
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 5px;
      height: 75px;
      margin-left: 35px;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $gray-900;
      .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 5px;
        height: 75px;
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: $gray-900;
      }
    }
  }

  @media (max-width: 768px) {
    .modal-dialog {
      max-width: 100%;
    }

    .modal-content {
      padding-top: 100px;
      
      h2 {
        font-size: 10vw;
        margin-bottom: 10px;
      }

      p {
        font-size: 4vw;
        margin-bottom: 20px;
      }

      p.title {
        font-size: 7vw;
      }

      p.content {
        font-size: 4vw;
        margin-bottom: 15px;
      }

      p.item-intro {
        font-size: 4vw;
        margin: 15px 0;
      }

      ul.list-inline {
        font-size: 3vw;
        margin-bottom: 20px;
      }

      button {
        font-size: 4vw;
        padding: 10px 20px;
        margin-top: 30px;
        margin-bottom: 0px;
      }
    }
  }
}