// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  color: white;
  background-color: #121212;
  padding: 0;
  h2.section-heading {
    font-size: 5ch;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    color: #cccccc !important;
    font-size: 25px;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 0px;
    text-transform: none;
    @include serif-font;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
